<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img [src]="logoPath ?? defaultLogoPath" alt="logo" />
  </a>
  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }">
    <p-avatar [image]="profilePath ?? defaulImagePath" routerLink="/admin/profile" styleClass="p-link layout-topbar-button" size="xlarge" shape="circle"></p-avatar>
  </div>

  <app-language class="m-2"></app-language>
  <button class="p-link layout-topbar-button m-2" (click)="logout()">
    <i class="pi pi-sign-out"></i>
  </button>
</div>

<p-dialog [(visible)]="confirmLogoutDialog" header="{{ 'labels.confirm' | translate }}" [modal]="true" [style]="{ width: '450px' }">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>{{ 'messages.areYouSureToLogout' | translate }}</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{ 'labels.no' | translate }}" (click)="confirmLogoutDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{ 'labels.yes' | translate }}" (click)="confirmLogout()"></button>
  </ng-template>
</p-dialog>
