<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img [src]="logoPath" alt="logo" />
  </a>
  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }">
    <app-language></app-language>

    <span class="p-link layout-topbar-button w-10">{{name}}</span>
    <p-avatar [image]="profilePath" routerLink="/admin/profile" styleClass="p-link layout-topbar-button" size="xlarge" shape="circle"></p-avatar>

    <button class="p-link layout-topbar-button" (click)="logout()">
      <i class="pi pi-sign-out"></i>
      <span>Sign out</span>
    </button>
  </div>
</div>

<p-dialog [(visible)]="confirmLogoutDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>Are you sure to logout?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="confirmLogoutDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmLogout()"></button>
  </ng-template>
</p-dialog>
