<p-toast></p-toast>
<div class="grid">
  <div class="col-12">
    <p-breadcrumb [model]="breadcrumbItems" [home]="{ icon: 'pi pi-home' }"></p-breadcrumb>
  </div>

  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar *ngIf="claim.CanAdd" styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="{{ 'labels.new' | translate }}" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
          </div>
        </ng-template>
      </p-toolbar>
      <p-progressSpinner *ngIf="isLoading" class="flex justify-content-center"></p-progressSpinner>
      <p-table
        #dt
        *ngIf="claim.CanGet && !isLoading"
        [value]="trainers"
        [columns]="columns"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['id', 'name', 'phoneNumber']"
        [paginator]="true"
        [rowsPerPageOptions]="rowsPerPageOptions"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{{ 'table.pageReport' | translate }}"
        [rowHover]="true"
        dataKey="id"
        [totalRecords]="trainers.length"
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">{{ 'trainer.title' | translate }}</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="{{ 'labels.search' | translate }}" class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">{{ col.header }} <p-sortIcon field="{{ col.field }}" *ngIf="col.sortable"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of textColumns">
              <span class="p-column-title">{{ col.field }}</span>
              {{ rowData[col.field] ?? 'trainer for test..' }}
            </td>

            <td>
              <span class="p-column-title">{{ 'table.columns.isActive' | translate }}</span>
              <p-inputSwitch [(ngModel)]="rowData.isActive" (ngModelChange)="onToggleSwitch(rowData.id, $event)"></p-inputSwitch>
            </td>

            <td>
              <p-button label="{{ 'labels.packages' | translate }}" styleClass="custom-button m-1" icon="pi pi-package" (click)="naviagateToPackages(rowData.id)"></p-button>
              <p-button label="{{ 'labels.groups' | translate }}" styleClass="custom-button m-1" icon="pi pi-users" (click)="navigateToGroups(rowData.id)"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="trainerDialog" [style]="{ width: '40%' }" header="{{'labels.addNewTrainer' | translate}}" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">

        <label for="name" class="block text-900 font-medium text-xl mb-2">{{ 'labels.name' | translate }}</label>
        <input
          type="text"
          pInputText
          id="name"
          class="m-1"
          [(ngModel)]="trainer.name"
          required
          autofocus
          [ngClass]="{ 'ng-invalid ng-dirty': nameInputText.touched && (!trainer.name) }"
          #nameInputText="ngModel"
        />
        <small class="ng-dirty ng-invalid text-red-500" *ngIf="nameInputText.touched && !trainer.name">{{ 'messages.nameIsRequired' | translate }}</small>

        <label for="phoneNumber" class="block text-900 font-medium text-xl mb-2">{{ 'labels.phoneNumber' | translate }}</label>
        <input
          type="text"
          pInputText
          id="phoneNumber"
          class="m-1"
          [(ngModel)]="trainer.phoneNumber"
          required
          maxlength="8"
          autofocus
          [ngClass]="{ 'ng-invalid ng-dirty': phoneInputText.touched && (!trainer.phoneNumber) }"
          #phoneInputText="ngModel"
        />
        <small class="ng-dirty ng-invalid text-red-500" *ngIf="phoneInputText.touched && !trainer.phoneNumber">{{ 'messages.trainerPhone' | translate }}</small>

        <label for="gender" class="block text-900 font-medium text-xl mb-2">{{ 'labels.gender' | translate }}</label>

        <p-dropdown
          id="gender"
          [(ngModel)]="trainer.gender"
          [options]="genderOptions"
          placeholder="{{ 'placeHolders.selectGender' | translate }}"
          [ngClass]="{ 'ng-invalid ng-dirty':  !trainer.gender }"
        ></p-dropdown>

        <label for="language" class="block text-900 font-medium text-xl mb-2">{{ 'labels.language' | translate }}</label>
        <p-dropdown
        id="language"
        [(ngModel)]="trainer.lang"
        [options]="languageOptions"
        placeholder="{{ 'placeHolders.selectLanguage' | translate }}"

      ></p-dropdown>

        <label for="categories" class="block text-900 font-medium text-xl mb-2">{{ 'labels.category' | translate }}</label>
        <p-dropdown
          id="categories"
          [(ngModel)]="trainer.categoryId"
          [options]="categoriesOptions"
          placeholder="{{ 'placeHolders.selectCategory' | translate }}"
          [required]="true"
          [ngClass]="{ 'ng-invalid ng-dirty':  !trainer.categoryId }"
        ></p-dropdown>
        <small class="ng-dirty ng-invalid" *ngIf=" !trainer.categoryId">{{ 'messages.categoryIsRequired' | translate }}</small>

        <label for="email" class="block text-900 font-medium text-xl mb-2">{{ 'labels.email' | translate }}</label>
        <input
          type="text"
          pInputText
          class="m-1"
          id="email"
          [(ngModel)]="trainer.email"
          required
          autofocus
          [ngClass]="{ 'ng-invalid ng-dirty': emailInputText.touched && (!trainer.email) }"
          #emailInputText="ngModel"
        />
        <small class="ng-dirty ng-invalid text-red-500" *ngIf="emailInputText.touched && !trainer.email">{{ 'messages.emailIsRequired' | translate }}</small>

        <label for="appFee" class="block text-900 font-medium text-xl mb-2">{{ 'labels.appFee' | translate }}</label>
        <input
          type="text"
          class="m-1"
          pInputText
          id="appFee"
          [(ngModel)]="trainer.appFee"
          autofocus
        />
        <div class="card w-full w-flex justify-cntent-center">
          <p-fileUpload #fileUpload mode="basic" chooseLabel="{{ 'labels.chooseImage' | translate }}" accept="image/*" [fileLimit]="1" (onSelect)="onFileSelect($event.files[0])"> </p-fileUpload>

          <div *ngIf="selectedFile">
            <button pButton pRipple label="{{ 'labels.cancel' | translate }}"  (click)="cancelImageSelection()" class="w-10rem m-2 p-2 text-100"></button>
          </div>
        </div>


      </ng-template>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'labels.cancel' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{'labels.save' | translate}}" icon="pi pi-check" class="p-button-text" [disabled]="!isValid()" (click)="saveTrainer()" [disabled]="!trainer.phoneNumber"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
