<div class="surface-ground flex align-items-center justify-content-center overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div class="surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
      <p-progressSpinner *ngIf="isLoading" class="flex justify-content-center"></p-progressSpinner>
      <div *ngIf="!isLoading">
        <label for="name" class="block text-900 font-medium text-xl mb-2">{{'labels.name' | translate}}</label>
        <input
          type="text"
          pInputText
          id="name"
          placeholder="{{'labels.name' | translate}}"
          [(ngModel)]="admin.name"
          required
          autofocus
          class="w-full p-3 md:w-30rem mb-5"
          [ngClass]="{ 'ng-invalid ng-dirty':  !admin.name }"
          #name="ngModel"
        />
        <small class="ng-dirty ng-invalid text-red-500" *ngIf="name.touched && !admin.name">{{'messages.nameIsRequired' | translate}}</small>

        <label for="email" class="block text-900 font-medium text-xl mb-2">{{'labels.email' | translate}}</label>
        <input
          type="email"
          pInputText
          id="email"
          placeholder="{{'labels.email' | translate}}"
          [(ngModel)]="admin.email"
          required
          class="w-full p-3 md:w-30rem mb-5"
          [ngClass]="{ 'ng-invalid ng-dirty':  !admin.email }"
          #email="ngModel"
        />
        <small class="ng-dirty ng-invalid text-red-500" *ngIf="email.touched && !admin.email">{{'messages.emailIsRequired' | translate}}</small>

        <label for="phone" class="block text-900 font-medium text-xl mb-2">{{'labels.phone' | translate}}</label>
        <input
          type="text"
          pInputText
          maxlength="8"
          id="phone"
          [(ngModel)]="admin.mobileNumber"
          required
          class="w-full p-3 md:w-30rem mb-5"
          pattern="^\+965\d{7}$"
          #phone="ngModel"
          [ngClass]="{ 'ng-invalid ng-dirty':phone.touched && !admin.mobileNumber }"
        />
        <small class="ng-dirty ng-invalid text-red-500" *ngIf=" !admin.mobileNumber">{{'messages.phoneRegex' | translate}}</small>

        <label for="nameAr" class="block text-900 font-medium text-xl mb-2">{{'labels.image' | translate}}</label>
        <div class="card w-full md:w-30rem w-flex justify-cntent-center">
          <p-fileUpload  mode="basic" chooseLabel="{{'labels.chooseProfileImage' | translate}}" accept="image/*" [fileLimit]="1" (onSelect)="onFileSelect($event.files[0])"> </p-fileUpload>
        </div>


        <label for="gender" class="block text-900 font-medium text-xl mb-2">{{'labels.gender' | translate}}</label>
        <p-dropdown
          id="gender"
          [(ngModel)]="admin.gender"
          [options]="genderOptions"
          placeholder="{{'labels.selectGender' | translate}}"
          [required]="true"
          styleClass="mb-5 w-full p-1 md:w-30rem"
          [ngClass]="{ 'ng-invalid ng-dirty':  !admin.gender }"
          #gender="ngModel"
        ></p-dropdown>
        <small class="ng-dirty ng-invalid text-red-500" *ngIf="gender.touched && !admin.gender">{{'message.genderRequired' | translate}}</small>


        <button pButton pRipple label="{{'labels.update' | translate}}" [disabled]="!isValid()" (click)="updateUser()" class="w-full p-3 text-xl"></button>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
