<div class="grid">
  <div class="col-12">
    <p-breadcrumb [model]="breadcrumbItems" [home]="{ icon: 'pi pi-home' }"></p-breadcrumb>
  </div>

  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="{{ 'labels.new' | translate }}" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
          </div>
        </ng-template>
      </p-toolbar>
      <p-progressSpinner *ngIf="isLoading" class="flex justify-content-center"></p-progressSpinner>
      <p-table
        #dt
        *ngIf="!isLoading"
        [value]="groups"
        [columns]="columns"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['id', 'nameAr', 'nameEn']"
        [paginator]="true"
        [rowsPerPageOptions]="rowsPerPageOptions"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{{ 'table.pageReport' | translate }}"
        [rowHover]="true"
        dataKey="id"
        [totalRecords]="groups.length"
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">{{ 'group.title' | translate }}</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="{{ 'labels.search' | translate }}" class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">{{ col.header }} <p-sortIcon field="{{ col.field }}" *ngIf="col.sortable"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of textColumns">
              <span class="p-column-title">{{ col.field }}</span>
              {{ rowData[col.field] }}
            </td>
            <td></td>
            <td>
              <span class="p-column-title">{{ 'table.columns.actions' | translate }}</span>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editGroup(rowData)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteGroup(rowData)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="groupDialog" [style]="{ width: '50%' }" header="{{ 'labels.groupDetails' | translate }}" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="nameEn">{{ 'labels.englishName' | translate }}</label>
          <input #nameEn="ngModel" type="text" pInputText id="nameEn" [(ngModel)]="group.nameEn" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': nameEn.touched && !group.nameEn }" />
          <small class="ng-dirty ng-invalid text-red-500" *ngIf="!group.nameEn">{{ 'messages.englishNameIsRequired' | translate }}</small>
        </div>
        <div class="field">
          <label for="nameAr">{{ 'labels.arabicName' | translate }}</label>
          <input #nameAr="ngModel" type="text" pInputText id="nameAr" [(ngModel)]="group.nameAr" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': nameAr.touched && !group.nameAr }" />
          <small class="ng-dirty ng-invalid text-red-500" *ngIf="!group.nameAr">{{ 'messages.arabichNameIsRequired' | translate }}</small>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'labels.cancel' | translate }}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <ng-container *ngIf="!isLoading; else loadingTemplate">
          <button pButton pRipple label="{{ 'labels.save' | translate }}" icon="pi pi-check" [disabled]="!isValid()" class="p-button-text" (click)="saveGroup()"></button>
        </ng-container>
        <ng-template #loadingTemplate>
          <app-spinner [isLoading]="isLoading"></app-spinner>
        </ng-template>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteGroupDialog" header="{{ 'labels.confirm' | translate }}" [modal]="true" [style]="{ width: '450px' }">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="group"
          >{{ 'labels.areYouSureDelete' | translate }} <b>{{ group.nameEn }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{ 'labels.no' | translate }}" (click)="deleteGroupDialog = false"></button>

        <ng-container *ngIf="!isLoading; else loadingTemplate">
          <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{ 'labels.yes' | translate }}" (click)="confirmDelete()"></button>
        </ng-container>
        <ng-template #loadingTemplate>
          <app-spinner [isLoading]="isLoading"></app-spinner>
        </ng-template>
      </ng-template>
    </p-dialog>
  </div>
</div>
