<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
        <div class="text-center mb-5">
          <span class="text-600 font-medium">{{ 'login.header' | translate }}</span>
        </div>

        <div>
          <label for="email" class="block text-900 text-xl font-medium">{{ 'login.email' | translate }}</label>
          <input
            id="email"
            [(ngModel)]="email"
            name="email"
            type="email"
            placeholder="{{ 'login.email' | translate }}"
            pInputText
            class="w-full md:w-30rem mb-2"
            style="padding: 1rem"
            required="true"
            #emailInput="ngModel"
            [ngClass]="{ 'ng-invalid ng-dirty text-red-500': emailInput && !email }"
          />
          <small class="ng-dirty ng-invalid text-red-500 block mb-4" *ngIf="!email && emailInput.touched">{{ 'messages.emailIsRequired' | translate }}</small>
          <small class="ng-dirty ng-invalid text-red-500 block" *ngIf="emailInput.touched && email && !validateEmail.isValidEmail(email)">{{ 'messages.emailRegex' | translate }}</small>
          
          <label for="password" class="block text-900 font-medium text-xl mb-2">{{ 'login.password' | translate }}</label>
          <p-password
            id="password"
            [(ngModel)]="password"
            name="password"
            placeholder="{{ 'login.password' | translate }}"
            [toggleMask]="true"
            styleClass="mb-5"
            inputStyleClass="w-full p-3 md:w-30rem"
            [feedback]="false"
            required="true"
            #pwdInput="ngModel"
            [ngClass]="{ 'ng-invalid ng-dirty text-red-500': pwdInput && !password }"
          ></p-password>
          <small class="ng-dirty ng-invalid text-red-500" *ngIf="!password && pwdInput.touched">{{ 'messages.passwordIsRequired' | translate }}</small>
          <button pButton pRipple class="flex justify-content-center p-3 text-xl w-15rem h-4rem" (click)="login()" [disabled]="!isValid()">
            <ng-container  *ngIf="!isLoading; else loadingTemplate">
              {{ 'labels.signIn' | translate }}
            </ng-container>
            <ng-template #loadingTemplate>
              <app-spinner [isLoading]="isLoading"></app-spinner>
            </ng-template>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-left"></p-toast>
